<h1><%= @song.title %></h1>
<p><%= @song.artist %></p>
<p><%= @song.album %></p>
<p><%= @song.rating %></p>
<p><%= @song.country %></p>
<hr/>
<% end %>

<hr />
<%= link_to 'Edit Song', edit_artist_song_path([@artist, @song]) %>
<%= link_to 'Delete Song', [@artist, @song], method: :delete %>
<%= link_to 'Back To All Songs', artist_songs_path%>