<div>
  <h1><%= @song.title %></h1>
  <p>Artist: <%= @song.artist_name %></p>
  <p>Album: <%= @song.album%></p>
  <p>Rating: <%=@song.rating%></p>
  <p>Country: <%=@song.country%></p>
  <br/>
  <%# <h2>Comments</h2> %>
</div>
<hr />

<div>
  <%= link_to 'Edit song', edit_artist_song_path([@artist, @song]) %>
  <br/>
  <%= link_to 'Delete song', [@artist, @song], method: :delete %>
  <br/>
  <%= link_to 'Back To All songs', artist_songs_path%>
  <br/>
</div>