<div class="ui center aligned header">
<br/>
  <h1 class="ui huge header">
      <%= @billboard.name %>
  <br/>
</div>

<div class="content">
  <div class="ui two buttons">
    <button class="ui basic button">
      <%= link_to 'Add Song', new_billboard_song_path(@billboard), class: "ui inverted left floated color3 button" %>
    </button>
    <button class="ui basic button">
      <%= link_to 'Back to Billboards', billboards_path, class: "ui inverted right floated color3 button" %> 
    </button>
  </div>
</div>
</br>
 
<div class="ui inverted segment">
  <div class="ui inverted ordered center aligned list">
  <ol>
   <% if @songs.any? %>
      <% @songs.each do |song| %>
        <li class="ui medium inverted header"><%= song.title %> - <%= song.country %></p>
            <%= link_to 'Go To Song', artist_song_path(song.artist, song), class: "ui mini left attached inverted button" %>
            <%= link_to 'Remove From Billboard', remove_billboard_song_path(@billboard, song), method: :delete, class: "ui mini right attached inverted button"%>
        <br/>
        <br/>
        <br/>
      <% end %>
      </ol>
    </div>
  </div>
    <% else %>
  <div class="center-align" >
    <h2>No Songs On Billboard </h2>
  </div>
<% end %>
</div> 
<br/>



